/* VARIABLES & FONTS */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap");
$clr-bg: #ffffff;
$clr-light: #fff;
$clr-grayL: #eeeeee;
$clr-grayM: #e0e0e0;
$clr-grayD: #b0b0b0;
$clr-dark: #41404b;
$clr-blue: hsla(201, 50%, 43%, 1);
$clr-greenD: hsla(194, 50%, 33%, 1);
$clr-greenM: rgb(129, 187, 150);
$clr-greenL: rgb(222, 237, 228);
$clr-red: hsla(0, 35%, 58%, 1);

/* BASE */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400px;
}

#page {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.main {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

button {
  border: none;
  padding: 8px 16px;
  background-color: $clr-blue;
  color: $clr-light;
  font-family: inherit;
}

/* HEADER */
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: $clr-dark;
  color: $clr-light;
  padding: 20px;
  i {
    color: $clr-greenM;
    font-size: 2.5rem;
  }
  .header__title {
    font-size: 2.5rem;
  }
}

/* SIDEBAR */
.sidebar {
  background-color: $clr-grayM;
  min-width: 275px;
  padding: 20px 0px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  .sidebar__top {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 15px;
    button {
      font-size: 1.1rem;
      font-weight: 400;
      background-color: inherit;
      color: $clr-dark;
      &:hover {
        background-color: $clr-blue;
        color: $clr-light;
      }
      i {
        padding-right: 10px;
      }
    }
  }
  .sidebar__divider {
    height: 1px;
    width: 80%;
    margin-left: -30px;
    background-color: $clr-grayD;
  }
  .sidebar__bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    .projects-list {
      width: 90%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 15px;
    }
    .button-project {
      width: 100%;
      background-color: inherit;
      color: $clr-dark;
      font-size: 1.1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .project-title-sidebar {
        text-align: left;
        .fa-check {
          margin-left: -10px;
          margin-right: 5px;
          color: $clr-greenM;
        }
      }
      .fa-times {
        font-size: 1rem;
        visibility: hidden;
      }
      &:hover {
        background-color: $clr-grayL;
        .fa-times {
          visibility: visible;
        }
      }
    }
  }
}

/* ADD PROJECT BUTTON & POPUP */
.button-add-project {
  font-size: 1.1em;
  &.active {
    display: none;
  }
}

.add-project-popup {
  display: none;
  width: 80%;
  &.active {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
  }
  .input-add-project-popup {
    width: 100%;
    border: none;
    font-family: inherit;
    padding: 8px 2px;
  }
  .add-project-popup-buttons {
    .button-add-project-popup {
      background-color: $clr-greenD;
    }
    .button-cancel-project-popup {
      background-color: $clr-red;
    }
  }
}

/* PROJECT PREVIEW */
#project-preview {
  min-width: 800px;
  max-width: 80%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}

/* TASKS */
.tasks-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.button-task {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 10px;
  cursor: default;
  font-family: inherit;
  font-size: 1.1rem;
  background-color: inherit;
  color: $clr-dark;
  &:hover {
    background-color: $clr-greenL;
    .right-task-panel i {
      visibility: visible;
    }
  }
  &.true {
    .task-title {
      text-decoration: line-through;
    }
    .due-date {
      text-decoration: line-through;
    }
    .fa-circle-check {
      color: $clr-greenM;
    }
    .fa-circle {
      display: none;
    }
  }
  &.false {
    .fa-circle-check {
      display: none;
    }
  }

  .left-task-panel {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    .fa-circle {
      font-size: 24px;
      cursor: pointer;
    }
    .fa-circle-check {
      font-size: 24px;
      cursor: pointer;
    }
    .task-title {
      cursor: pointer;
      &.active {
        display: none;
      }
    }
    .input-task-title {
      display: none;
      height: 24px;
      padding: 5px;
      border: 1px solid #555;
      background-color: $clr-light;
      color: inherit;
      font-family: inherit;
      &.active {
        display: block;
      }
    }
  }

  .right-task-panel {
    display: flex;
    align-items: center;
    i {
      visibility: hidden;
      cursor: pointer;
    }
    .due-date {
      margin-right: 10px;
      cursor: pointer;
      &.active {
        display: none;
      }
    }
    .input-due-date {
      display: none;
      height: 24px;
      padding: 5px;
      border: 1px solid #555;
      margin: 0 10px;
      background-color: $clr-light;
      color: inherit;
      font-family: inherit;
      &.active {
        display: block;
      }
    }
  }
}

/* ADD TASK BUTTON & POPUP */
.button-add-task {
  display: block;
  font-size: 1.1rem;
  &.active {
    display: none;
  }
}

.add-task-popup {
  background-color: $clr-grayL;
  display: none;
  width: 80%;
  padding: 20px;
  &.active {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
  }
  .input-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
    input {
      border: none;
      padding: 5px 2px;
    }
  }
  .add-task-popup-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    .button-add-task-popup {
      background-color: $clr-greenD;
    }
    .button-cancel-task-popup {
      background-color: $clr-red;
    }
  }
}

/* FOOTER */
.footer {
  background-color: $clr-dark;
  color: $clr-light;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 15px;
  i {
    color: $clr-light;
    font-size: 1.2rem;
  }
}
